extends ../layout
block head
    script.
      $(document).ready(function(){
        $('.modal').modal();
        $.getJSON('/api/factors/list',function(f){
            $('select.factors').html('');
            f.forEach(function(f){
                $('select.factors').append('<option value="'+f._id+'">'+f.name+' (' + f.description+')</option>');
            });
            $.getJSON('/temperature/settings/',function(s){
                for(i in s){
                    $('#settings [name="'+i+'"]').val(s[i]);
                }
                $('select').material_select();
                $.getJSON('/api/factors/pd',{json:JSON.stringify({
                    factor:s.in
                })},function(d){
                    d=d.reverse();
                    if(d[0]){
                        if(s.min>d[0].value){
                            $('#tempst').addClass('red');
                            $('#tempst .card-title').text('Температура понижена: '+d[0].value);                        
                        }else if(s.max<d[0].value){
                            $('#tempst').addClass('red');
                            $('#tempst .card-title').text('Температура повышена: '+d[0].value);                        
                        }else{
                            $('#tempst').addClass('green');
                            $('#tempst .card-title').text('Температура в норме: '+d[0].value);                        
                        }
                    }
                    $('#tempst a.openchart').attr('href','/factors/pd/#'+s.in);
                }).fail(errorHandler);
            }).fail(errorHandler);
        }).fail(errorHandler);
      });
block content
  a.waves-effect.waves-light.btn.modal-trigger(href='#settings') Настройки
  .row
    .col.s12
      .card.darken-1#tempst
        .card-content.white-text
          span.card-title
          p
        .card-action
          a.openchart(href='#') Посмотреть график
  #settings.modal
    form(action='/temperature/settings/edit',method='post')
      .modal-content
        h4 Редактировать настройки
        .row
          .col.s12.input-field 
              label.active(for='mininpset') Минимальная температура
              input.validate#mininpset(name='min',type="number",required,value='0')
          .col.s12.input-field 
              label.active(for='maxinpset') Максимальная температура
              input.validate#maxinpset(name='max',type="number",required,value='0')
          .col.s12.input-field
            select.factors(name='in')
            label Температура внутри помещения
          .col.s12.input-field
            select.factors(name='out')
            label Температура внешней среды

      .modal-footer
        button.modal-action.waves-effect.waves-green.btn-flat(type='submit') Сохранить
        a.modal-action.modal-close.waves-effect.waves-red.btn-flat(href='#!') Закрыть
