nav.bgteal(role='navigation')
    .nav-wrapper.container
        a.button-collapse(href="#",data-activates="nav-mobile")
            i.material-icons menu
        a#logo-container.brand-logo(href='/') ClimPlex
        ul.right.hide-on-med-and-down
            li
                if user
                    a(href='/signout') Выйти
        ul#nav-mobile.side-nav
            li
                if user
                    a(class=(url=="/hosts")?'active subheader':"",href=(url=="/hosts")?undefined:"/hosts") Устройства
                    a(class=(url=="/factors")?'active subheader':"",href=(url=="/factors")?undefined:"/factors") Факторы
                    each val in modules
                        a(class=(url=="/"+val.eng_name)?'active subheader':"",href=(url=="/"+val.eng_name)?undefined:"/"+val.eng_name) #{val.name}
                    a(href='/signout') Выйти 
        