.collection.sidebar
    a.collection-item(class=(url=="/hosts")?'active':"",href=(url=="/hosts")?undefined:"/hosts") Устройства
    a.collection-item(class=(url=="/factors")?'active':"",href=(url=="/factors")?undefined:"/factors") Факторы
    each val in modules
        a.collection-item(class=(url=="/"+val.eng_name)?'active':"",href=(url=="/"+val.eng_name)?undefined:"/"+val.eng_name) #{val.name}
