extends layout
block head
	script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js')
	script(src='/js/dateformated.js')
	script.
		$(document).ready(function(){
			$.getJSON('/api/factors/pd',{json:JSON.stringify({
				factor:location.hash.substr(1)
			})},function(data){
				if(data.length==0){
					$('#chart_container').html('<div class="container"><h3 class="center">Нет данных. Проверьте их поступление в систему.</h3></div>');
					return;
				}
				var ctx = $('#chart');
				var labels=[];
				var ddata=[];
				data.forEach(function(l){
					labels.push(getDateFormated(new Date(l.created)));
					ddata.push(l.value);
				})
				var myChart = new Chart(ctx, {
					type: 'line',
					data: {
						labels: labels,
						datasets: [{
							label: "Показания",
							data: ddata,
							fill: false,
						}]
					},
					options: {
						responsive: true,
						title:{
							display:true,
							text:''
						},
						tooltips: {
							mode: 'index',
							intersect: false,
						},
						hover: {
							mode: 'nearest',
							intersect: true
						},
						scales: {
							xAxes: [{
								display: true,
								scaleLabel: {
									display: true,
									labelString: 'Дата и время'
								}
							}],
							yAxes: [{
								display: true,
								scaleLabel: {
									display: true,
									labelString: 'Value'
								}
							}]
						}
					}
				});
			}).fail(errorHandler);
		});
block content
	#chart_container
		canvas#chart(width=600,heght=400)
		