extends layout
block head
    script.
      $(document).ready(function(){
        $('#list').html('<div class="progress"><div class="indeterminate"></div></div>');
        $.getJSON('/api/factors/list',function(data){
          $('#list').html('');
          data.forEach(function(factor){
            $('#list').append('<li class="collection-item avatar"><i class="material-icons circle green">visibility</i><span class="title">'+factor.name+'</span><p>'+factor.description+'<br><a class="btn" href="/factors/pd/#'+factor._id+'"><i class="material-icons left">timeline</i> Просмотреть график изменений</a> </p><a href="#'+factor._id+'" class="secondary-content edit"><i class="material-icons">settings</i></a></li>');
          });
          $('#list a.edit').click(function(){
            edit_factor($(this).attr('href').substring(1));
          });
        }).fail(errorHandler);
        $('.modal').modal();
        $('select').material_select();
        edit_factor=function(id){
          $.getJSON('/api/factors/'+id,function(data){
            var i;
            for(i in data){
              $('#factorinfo [name="'+i+'"]').val(data[i]);
            }
            $('select').material_select();
            $('#factorinfo').modal('open');
          }).fail(errorHandler);
        };
      });
block content
  a.waves-effect.waves-light.btn.modal-trigger(href='#addfactor') Добавить фактор
  ul.collection#list
  #addfactor.modal
    form(action='/api/factors/add',method='post')
      .modal-content
        h4 Добавить фактор
        .row
          .col.s12.input-field 
              label(for='nameadd') Наименование фактора
              input.validate#nameadd(name='name',type="text",required)
          .col.s12.input-field 
            label(for='descriptionadd') Описание
            textarea.validate#descriptionadd.materialize-textarea(name='description',type="text",required)
          .col.s12.input-field
            select(name='typeOf')
                option(value='string') Строка
                option(value='number') Число
                option(value='boolean') Логическое	
            label Тип данных
      .modal-footer
        button.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!',type='submit') Добавить
        a.modal-action.modal-close.waves-effect.waves-red.btn-flat(href='#!') Закрыть
  #factorinfo.modal
    form(action='/api/factors/edit',method='post')
      input.validate#idedit1(name='_id',type="hidden")
      .modal-content
        h4 Редактировать устройство
        .row
          .col.s12.input-field 
              label.active(for='nameedit') Наименование фактор
              input.validate#nameedit(name='name',type="text",required,value='0')
          .col.s12.input-field 
            textarea.validate#descriptionedit.materialize-textarea(name='description',type="text",required,value='0',placeholder='Заполните это поле')
            label.active(for='descriptionedit') Описание
          .col.s12.input-field
            select(disabled,name='typeOf')
                option(value='') Не указан (проверьте настройки)
                option(value='string') Строка
                option(value='number') Число
                option(value='boolean') Логическое	
            label Тип данных
          .col.s12.input-field 
            label.active(for='idedit1') id
            input.validate#idedit1(name='_id',type="text",disabled,value='0')

      .modal-footer
        button.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!',type='submit') Сохранить
        a.modal-action.modal-close.waves-effect.waves-red.btn-flat(href='#!') Закрыть
