extends layout
block head
    script.
      $(document).ready(function(){
        $('#list').html('<div class="progress"><div class="indeterminate"></div></div>');
        $.getJSON('/api/hosts/list',function(data){
          $('#list').html('');
          data.forEach(function(host){
            $('#list').append('<li class="collection-item avatar"><i class="material-icons circle green">devices</i><span class="title">'+host.name+'</span><p>'+host.description+' </p><a href="#'+host._id+'" class="secondary-content edit"><i class="material-icons">settings</i></a></li>');
          });
          $('#list a.edit').click(function(){
            edit_host($(this).attr('href').substring(1));
          });
        }).fail(errorHandler);
        $('.modal').modal();
        edit_host=function(id){
          $.getJSON('/api/hosts/'+id,function(data){
            var i;
            for(i in data){
              $('#hostinfo [name="'+i+'"]').val(data[i]);
            }
            $('#hostinfo').modal('open');
          }).fail(errorHandler);
        };
      });
block content
  a.waves-effect.waves-light.btn.modal-trigger(href='#addhost') Добавить устройство
  ul.collection#list
  #addhost.modal
    form(action='/api/hosts/add',method='post')
      .modal-content
        h4 Добавить устройство
        .row
          .col.s12.input-field 
              label(for='nameadd') Наименование устройства
              input.validate#nameadd(name='name',type="text",required)
          .col.s12.input-field 
            label(for='descriptionadd') Описание
            textarea.validate#descriptionadd.materialize-textarea(name='description',type="text",required)
      .modal-footer
        button.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!',type='submit') Добавить
        a.modal-action.modal-close.waves-effect.waves-red.btn-flat(href='#!') Закрыть
  #hostinfo.modal
    form(action='/api/hosts/edit',method='post')
      input.validate#idedit1(name='_id',type="hidden")
      .modal-content
        h4 Редактировать устройство
        .row
          .col.s12.input-field 
              label.active(for='nameedit') Наименование устройства
              input.validate#nameedit(name='name',type="text",required,value='0')
          .col.s12.input-field 
            textarea.validate#descriptionedit.materialize-textarea(name='description',type="text",required,value='0',placeholder='Заполните это поле')
            label.active(for='descriptionedit') Описание
          .col.s12.input-field 
            label.active(for='idedit1') id
            input.validate#idedit1(name='_id',type="text",disabled,value='0')
          .col.s12.input-field 
            label.active(for='auth_hashedit') auth_hash
            input.validate#auth_hashedit(name='auth_hash',type="text",disabled,value='0')
          .col.s12.input-field 
            label.active(for='auth_tokenedit') auth_token
            input.validate#auth_tokenedit(name='auth_token',type="text",disabled,value='0')
          .col.s12.input-field 
            label.active(for='post_takenedit') post_taken
            input.validate#post_takenedit(name='post_taken',type="text",disabled,value='0')
      .modal-footer
        button.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!',type='submit') Сохранить
        a.modal-action.modal-close.waves-effect.waves-red.btn-flat(href='#!') Закрыть
