doctype html
html
  head
    link(rel='stylesheet', href='/css/materialize.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='/css/style.css')
    script(src="/js/jquery.js")
    script(src="/js/materialize.min.js")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    script.
      $(document).ready(function() {
        setTimeout(function(){
          $("#preloader").animate({opacity:0},function(){
            $(this).hide();
          });
        },100);
        $('.tooltipped').tooltip({delay: 50});
      $('a[href^="/"]').click(function(){
        $("#preloader").show().animate({opacity:1},200);
      });
      $('form[action]').submit(function(){
        $("#preloader").show().animate({opacity:1},200);
      });
      Materialize.updateTextFields();
      $('select').material_select();
       $(".button-collapse").sideNav();
      });
      $('.collapsible').collapsible();
      /*$('html').mouseup(function (e) {
          var container = $(".collapsible");
          if (container.has(e.target).length === 0){
              $('.collapsible').collapsible('close', 0);
              $('.collapsible').collapsible('close', 1);
              $('.collapsible').collapsible('close', 2);
          }
      });*/
      function errorHandler (e){
        Materialize.toast('Произошла ошибка. Повторите попытку.',3000);
      }
      window.addEventListener('error', function(e){
      console.log(e);
        $.post('/error/log/',{
          json:JSON.stringify({
            error:{
              event:e,
              error:{
                message:e.error.message,
                stack:e.error.stack
              },
              message:e.message
            }
          })
        })
        errorHandler(e);
      });
    block head
    
  body
    style.
      #preloader{
        background:#1b5e20;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity:1;
        z-index: 99999999;
      }
      #preloader .a{
        background: url(/img/preloader.svg);
        height: 105px;
        width: 105px;
        top: 50%;
        position: fixed;
        margin: -52px;
        left: 50%;
      }
    #preloader
      .a
    include includes/navbar.jade
    if user
      .row
        .col.l2.hide-on-med-and-down
           include includes/sidebar.jade
        .col.l10.s12.m12
          block content
    else
      .col.s12
          block content
    #modalPromt.modal
        .modal-content
          h4#mPheader 
          p#mPctx 
        .modal-footer
          a.waves-effect.waves-green.btn-flat#mPyes Да
          a.waves-effect.waves-red.btn-flat#mPno Нет


