extends layout
block head
  title Авторизация
  script.
    $(document).ready(function(){
      if(location.hash=="#!") Materialize.toast('Вы ввели неправильно логин или пароль.',3000);
    });
block content
  .container
    h5.center Авторизация
    .row
      form(action="/signin/" method='post')
        .row
          .col.s12.input-field 
            label(for='emailinput') E-mail
            input.validate#emailinput(name='email',type="email",required)
          .col.s12.input-field 
            label(for='passinput') Пароль
            input.validate#passinput(name='password',type="password",required)
          .col.s12
            button.btn.waves-effect.s12(type="submit",style="width: 100%;") Войти
            br
            br
            a.s12(href='/signup',style="width: 100%;") Зарегистрироваться
