extends layout
block head
  title Регистрация преподавателя
  script(src="/js/maskinput.js")
  script.
    var b=function(){
        if($(this).val()==$("#passinput").val()){
          $(this).addClass("valid");
          $(this).removeClass("invalid");
        }else{
          $(this).addClass("invalid");
          $(this).removeClass("valid");
        }
      };
    $(document).ready(function(){
      $("#telinput").mask("+7 (999) 999-9999");
      $("#passinputch").keyup(b);
      $("#passinputch").change(b);
      $("form").submit(function(e){
        if($("#passinputch").val()==$("#passinput").val()) return true;
        else{
          $("#passinputch").focus();
          e.preventDefault();
          return false;
          
        }
      })
    })

block content
  .container      
    h5.center Регистрация преподавателя
    .row
      form(action="/signup/" method='post')
        .row
          .col.s6.input-field 
            label(for='emailinput') E-mail
            input.validate#emailinput(name='email',type="email",required)
          .col.s6.input-field 
            label(for='passinput') Пароль
            input.validate#passinput(name='password',type="password",required)
          .col.s6.input-field 
            label(for='passinputch') Повторите пароль
            input#passinputch(type="password",required)
          .col.s6.input-field 
            label(for='surnameinput') Фамилия
            input.validate#surnameinput(name='surname',type="text",required)
          .col.s6.input-field 
            label(for='nameinput') Имя
            input.validate#nameinput(name='name',type="text",required)
          .col.s6.input-field 
            label(for='secnameinput') Отчество
            input.validate#secnameinput(name='secname',type="text",required)
          .col.s6.input-field 
            label(for='telinput') Телефон
            input.validate#telinput(name='tel',type="tel",value="+7 (___) ___-____",required)
          .col.s12
            button.btn.waves-effect.s12(type="submit") Зарегистрировать
