#nav-mobile .h{
    cursor: default;
    font-weight: 900;
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
    color:#000;
}
.modal.full{
    top: 0!important;
    margin:0;
    width: 100%;
    height: 100%!important;
    max-height: 100%;
}
.hidden{
  display:none;
}

.input-field.col .dropdown-content [type="checkbox"]+label {
      top: -10px!important;  
}
.collapsible-body{
  max-width: 100%;
  overflow-x: auto;
}
nav{
	background-color:#388e3c;
}
.btn{
	background-color:#4caf50;
}
.btn:hover{
	background-color:#43A047;
}
.btn:focus{
	background-color:#388e3c;
}
.secondary-content{
	color:#4caf50;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #388e3c;
    -webkit-box-shadow: 0 1px 0 0 #388e3c;
    box-shadow: 0 1px 0 0 #388e3c;
}
input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: #388e3c;
}
.collection .collection-item.active {
    background-color: #43A047;
    color: #edf7ee;
}